html {
    --green: #449837;
    --purple: #5a5096;
    --orange: #ff5c00;
    --yellow: #ffc800;
    --red: #cc2944;
    --blue: #2d9cdb;
    --gray0: #000;
    --gray1: #3c3c3c;
    --gray2: #b4b4b4;
    --gray3: #dcdcdc;
    --white: #fff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@media (min-width: 770px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 994px) {
    .container {
        width: 992px;
    }
}

@media (min-width: 1232px) {
    .container {
        width: 1230px;
    }
}

button, button:focus, button:hover, button:active, input, input:focus, input:hover, input:active, textarea, textarea:focus, textarea:hover, textarea:active, a, a:focus, a:hover, a:active {
    outline: none;
}

img {
    max-width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: '';
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

button, input[type='submit'], input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    color: inherit;
}

html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], template {
    display: none;
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"],
/* 1 */

input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type='checkbox'], input[type='radio'] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

/* MAIN */

html, main, body {
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    background-color: transparent;
    letter-spacing: 0.2px;
    min-width: 320px;
}

main {
    overflow: hidden;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 5px;
}

/* CONTROLS */

#app {
    position: relative;
}

.controls {
    position: fixed;
    top: 0;
    background-color: var(--white);
    padding: 10px 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 5%), 0px 4px 30px rgb(160 201 222 / 20%);
}

.controls .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls__input_container {
    height: 30px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 5%), 0px 4px 30px rgb(160 201 222 / 20%);
    border-radius: 30px;
    overflow: hidden;
    width: auto;
    display: table;
}

.controls__input {
    height: 100%;
    padding: 0 10px 0 20px;
    border-radius: 30px 0 0 30px;
    border: none;
    width: 300px;
}

.controls__button {
    height: 100%;
    padding: 0 20px 0 10px;
    border-radius: 0 30px 30px 0;
    border: none;
    text-transform: uppercase;
}

.controls__input_label {
    font-size: 12px;
    line-height: 16px;
    color: var(--gray2);
    font-weight: 400;
    margin: 5px 0 0 20px;
}

.controls__input_label span {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.button {
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 6px;
}

.button.danger {
    background-color: var(--red);
    color: var(--white);
}

/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin: 100px -5px;
    align-items: flex-start;
}

.card {
    width: 390px;
    margin: 5px;
    border: 1px solid var(--gray3);
    font-weight: 700;
    height: auto;
    position: relative;
}

.card_header {
    padding: 20px 30px;
    color: var(--white);
    background-color: var(--gray2);
    font-size: 16px;
    line-height: 16px;
}

.card_header__title {
    font-size: 30px;
    line-height: 1.2;
}

.card_header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.card_body {
    color: var(--gray0);
    padding: 30px 30px 0 30px;
}

.card_body__info {
    display: flex;
    justify-content: space-between;
}

.card_body__info p {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    display: block;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: calc(24px * 5);
}

.qrcode {
    width: 108px;
    height: 108px;
    margin-left: 10px;
    flex-shrink: 0;
}

.card_body__task {
    padding: 15px 0;
    color: var(--gray2);
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    border-bottom: 1px solid var(--gray2);
}

.card_body__task>*:not(:first-child) {
    margin-left: 15px;
}

.card_body__executor {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 10px;
}

.card_body__executor>*:not(:first-child) {
    margin-left: 10px;
}

.card__status {
    color: var(--white);
    background-color: var(--gray3);
    font-size: 14px;
    line-height: 18px;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__status span {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.card__status span span {
    text-transform: lowercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.card__status span span::before {
    content: '(';
    display: block;
}

.card__status span span::after {
    content: ')';
    display: inline-block;
}

.card__status[data-status='blocker'] {
    background-color: var(--red);
}

.card__status[data-status='critical'] {
    background-color: var(--orange);
}

.card__status[data-status='normal'] {
    background-color: var(--gray1);
}

.card__status[data-status='minor'] {
    background-color: var(--gray2);
}

.card__status[data-status='trivial'] {
    background-color: var(--gray3);
    color: var(--gray0);
}

.card__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    transform: translate(50%, -50%);
    background-color: var(--red);
    border: 2px solid var(--white);
    cursor: pointer;
    z-index: 5;
}

.card__close::before {
    content: '';
    display: block;
    height: 16px;
    width: 2px;
    background-color: white;
    transform: rotate(-45deg) translate(50%, -50%);
    z-index: 2;
    position: absolute;
    top: 11px;
    left: 17px;
    border-radius: 5px;
}

.card__close::after {
    content: '';
    display: block;
    height: 16px;
    width: 2px;
    background-color: white;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    top: 11px;
    left: 7px;
    border-radius: 5px;
}

.cards-list-enter-active {
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.cards-list-leave-active {
    transition: width 0.4s ease-in-out;
}

.cards-list-enter {
    opacity: 0;
    transform: translateY(30px);
}

.cards-list-leave-to {
    width: 0;
    overflow: hidden;
}

.cards-list-leave-to>* {
    width: 390px;
}

/* PRINT */

@media print {
    [data-print='noPrint'] {
        display: none;
    }
}

[data-print='print'] {
    display: none;
}

@media print {
    [data-print='print'] {
        display: block;
    }
}

@page {
    size: 210mm 297mm;
    margin: 0;
}

[data-print='print'] .page {
    width: 210mm;
    height: 296.8mm;
    padding: 27mm 16mm;
}

[data-print='print'] .cards {
    width: 100%;
    margin: 0;
    align-items: flex-start;
    transform: scale(0.65);
    transform-origin: top left;
    width: calc(100% + (100% * 0.53847));
    transform: scale(0.8);
    transform-origin: top left;
    width: calc(100% + (100% * 0.25));
}

[data-print='print'] .card {
    margin: 0;
}

/* line 1, _toast.scss */

.toast {
    max-width: 350px;
    overflow: hidden;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    position: relative;
    padding: 0.75rem 2rem 0.75rem 0.75rem;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 20px 30px 20px 20px;
    font-size: 18px;
    min-width: 250px;
    max-width: 400px;
    border-radius: 13px;
    color: white;
}

@media only screen and (max-width: 560px) {
    /* line 1, _toast.scss */
    .toast {
        width: calc(100% - 10px * 2);
        max-width: unset;
    }
}

/* line 28, _toast.scss */

.toasts {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 1300;
}

@media only screen and (max-width: 560px) {
    /* line 28, _toast.scss */
    .toasts {
        top: unset;
        right: unset;
        left: 10px;
        bottom: 20px;
        width: 100%;
    }
}

/* line 41, _toast.scss */

.toast:not(:last-child) {
    margin-bottom: 10px;
}

/* line 45, _toast.scss */

.toast_show {
    display: block;
}

/* line 49, _toast.scss */

.toast__close {
    position: absolute;
    top: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    font-size: 1.8125rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 0.6;
    appearance: button;
    margin: 0;
    font-family: inherit;
    border-radius: 0;
    width: 30px;
    height: 100%;
    right: 0;
}

/* line 73, _toast.scss */

.toast__loader {
    top: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 21px;
    animation: linear tostLoaderAnimation;
    animation-fill-mode: forwards;
    color: attr(data-delay);
}

@keyframes tostLoaderAnimation {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

/* MESH LOADER */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000000000;
}

.mesh-loader {
    overflow: hidden;
    height: inherit;
    width: inherit;
}

.mesh-loader .circle {
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f44336;
    border-radius: 50%;
    margin: -15px;
    -webkit-animation: mesh 3s ease-in-out infinite -1.5s;
    animation: mesh 3s ease-in-out infinite -1.5s;
}

.mesh-loader>div .circle:last-child {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.mesh-loader>div {
    position: absolute;
    top: 50%;
    left: 50%;
}

.mesh-loader>div:last-child {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@keyframes mesh {
    0% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform-origin: 50% -100%;
        transform-origin: 50% -100%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    50.1% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform-origin: 50% 200%;
        transform-origin: 50% 200%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.epic_tracker {
    z-index: 1000;
    position: fixed;
    top: 100px;
    right: 10px;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    background-color: white;
    padding: 30px 0 0;
    width: 300px;
}

.epic_tracker .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    padding: 0 14px;
}

.epic_tracker .epic_container {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-y: overlay;
    padding: 0 14px 20px;
}

.epic_tracker .epic {
    border-radius: 8px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray3);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
    cursor: pointer;
}

.epic_tracker .color_picker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--gray3);
    flex-shrink: 0;
    margin-left: 10px;
}

.epic_tracker span {
    font-size: 12px;
    font-weight: 400px;
}

.epic_color__container {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-y: overlay;
    padding: 0 14px;
}

.epic_color__container .current_color {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: var(--gray3);
}

.epic_color__container .colors {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

.epic_color__container .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--gray3);
    flex-shrink: 0;
    margin: 0 10px 10px;
    cursor: pointer;
}

.epic_color__container .customColor {
    margin: 10px 0
}

.epic_color__container input {
    border: 0px solid transparent;
    appearance: auto;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    border-radius: 50%;
}

.epic_color__container .buttons_container {
    display: flex;
    width: calc(100% + 14px * 2);
    margin-left: -14px;
    margin-top: 20px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.epic_color__container .buttons_container button {
    width: 50%;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    outline: none;
    padding: 0;
}

.epic_color__container .buttons_container .abort {
    background-color: var(--red);
}

.epic_color__container .buttons_container .submit {
    background-color: var(--green);
}