<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Парсинг яндекс трекера</title>
	<link rel="stylesheet" href="./index.css" type="text/css" />
</head>

<body>
	<main id="app">
		<div class="loader" v-if="loading" data-print="noPrint">
			<div class="mesh-loader">
				<div class="set-one">
					<div class="circle"></div>
					<div class="circle"></div>
				</div>
				<div class="set-two">
					<div class="circle"></div>
					<div class="circle"></div>
				</div>
			</div>
		</div>
		<div class="controls" data-print="noPrint">
			<div class="container">
				<div>
					<div class="controls__input_container">
						<input placeholder="IT-23;sprint-25;MIG-112;sPrinT-11" id="uniqueSearchInputId"
							v-model="inputValue" @keyup.esc="clearAll()" @keyup.enter="inputHandler()"
							class="controls__input" />
						<button @click="inputHandler()" class="controls__button" :disabled="loading">Добавить</button>
					</div>
					<p class="controls__input_label">
						Можно вводить несколько задач через
						<span>;</span>
						&nbsp;&nbsp;&nbsp;&nbsp; Можно вывести все задачи из спринта, введя
						<span>sprint-</span>
						номер задачи
					</p>
				</div>
				<button onclick="window.print();" class="button danger button_print">ПЕЧАТЬ</button>
			</div>
		</div>

		<div class="container" data-print="noPrint" v-if="cards && cards.length > 0">
			<transition-group name="cards-list" tag="div" class="cards">
				<card-item v-for="(card, index) in cards" v-bind:card="card" v-bind:key="card.id"
					v-bind:removekey="card.id" v-bind:removeitem="removeItem" v-bind:onlyshow="true"></card-item>
			</transition-group>
		</div>

		<div v-if="cards && cards.length > 0" data-print="print">
			<div class="page" v-for="page in pages">
				<div class="cards">
					<card-item v-for="(card, index) in page" v-bind:card="card" v-bind:key="card.id"></card-item>
				</div>
			</div>
		</div>
		<div class="epic_tracker" v-if="epics && epics.length" data-print="noPrint">
			<p class="title">Палитра эпиков</p>
			<div class="epic_container" v-if="!palletteCurrentEpic">
				<div class="epic" v-for="epic in epics" @click="epicPalleteHandler({...epic})">
					<p>{{epic.task}} <span>{{epic.title}}</span></p>
					<div class="color_picker" :style="'background-color:' + (epic.color || '#b4b4b4')"></div>
				</div>
			</div>
			<div class="epic_color__container" v-if="palletteCurrentEpic">
				<div class="current_color":style="'background-color:' + (tempColor || '#b4b4b4')"></div>
				<p>{{palletteCurrentEpic.task}} <span>{{palletteCurrentEpic.title}}</span></p>
				<div class="colors">
					<div class="color" v-for="color in colors" @click="() => changeTempColor(color)" :style="'background-color:' + (color || '#b4b4b4')">
					</div>
				</div>
				<p class="customColor">Выбрать свой</p>
				<input type="color" value="#e0ffee" v-model="tempColor">
				<div class="buttons_container">
					<button class="abort" @click="epicPalleteHandler(null)">Отменить</button>
					<button class="submit" @click="changeEpicColor(palletteCurrentEpic.task)">Подтвердить</button>
				</div>
			</div>
		</div>
	</main>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" type="text/javascript"></script>
<script src="https://unpkg.com/qr-code-styling/lib/qr-code-styling.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script src="./index.js"></script>